<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="styles.css">
	<title> Tienda Virtual </title>
</head>

<body>
	<div data-behaviour="vue">
		<nav id="nav" class="navbar navbar-expand-sm navbar-dark">
			<a href="#" class="navbar-brand">Tu Tienda Online</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a href="index.html" class="nav-link">Inicio <span class="sr-only">(página actual)</span></a>
					</li>
					<li class="nav-item">
						<a href="login.html" class="nav-link">Iniciar sesión</a>
					</li>
					<li class="nav-item">
						<a href="cart.html" class="nav-link">Carrito</a>
					</li>
					<li class="nav-item">
						<a href="products.html" class="nav-link">Administrador</a>
					</li>
				</ul>
				<form action="#" class="form-inline my-2 my-lg-0">
					<input type="search" class="form-control" placeholder="Buscar" aria-label="Search">
					<button class="btn btn-light my-2 my-sm-0" type="submit">Buscar</button>
				</form>
			</div>
		</nav>
		
		<div id="signing">
			<div class="alert alert-danger" role="alert" v-if="errors">Error al iniciar sesión. Intente de nuevo</div>
			
			<div class="container mt-4 rounded p-4 sign_form">
				<div class="d-flex justify-content-center">
					<h1>Iniciar sesión</h1>
				</div>
				<form @submit.prevent="submit_demo" action="" method="POST">
					<div class="input-group my-4">
						<div class="input-group-prepend"><label class="input-group-text field_name" for="email">Correo
								Electronico</label></div><input :class="[validEmail ? &#39;is-valid&#39; : &#39;is-invalid&#39;]"
							@input="onchange" class="form-control" id="email" name="email" placeholder="Correo Electronico" type="email"
							v-model="email" />
						<div class="invalid-feedback" v-show="!validEmail"> Ingrese un correo valido</div>
						<div class="valid-feedback" v-show="validEmail"> Todo Bien</div>
					</div>
					<div class="input-group my-4">
						<div class="input-group-prepend"><label class="input-group-text field_name" for="password"> Contraseña</label>
						</div><input class="form-control" id="password" placeholder="Contraseña" type="password" />
					</div>
					<div class="custom-control custom-checkbox my-1 mr-sm-2"><input class="custom-control-input" id="remember_token"
							type="checkbox" /><label class="custom-control-label" for="remember_token"> Recuérdame</label></div><button
						class="btn btn-lg btn-info" type="submit"> Iniciar sesión</button><a class="btn btn-md btn-info m-3"
						href="register.html">Registrar Nuevo Usuario</a>
				</form>
			</div>
		</div>

	</div>

	
		
		<script src="scripts/jquery.min.js"></script>
		<script src="scripts/popper.min.js"></script>
		<script src="scripts/bootstrap.min.js"></script>
		<script src="scripts/vue.js"></script>

		<script>		

			const app = new Vue({
				el: '[data-behaviour="vue"]',
				data: {
					email: null,
					validEmail: false,
					errors: null,
					password: null,
				},
				methods: {
					submit_demo: function(){
						console.log(this.email);
						console.log(this.validEmail);
					},
					validateEmail: function (email) {
						var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
						return re.test(email);
					},
					onchange: function(ev) {
						this.validEmail = this.validateEmail(this.email);
					}
				},

			});
		</script>
</body>